.container {

	box-sizing: border-box;
	padding: 2rem;
	animation: anim 450ms 150ms ease-in-out both;
	background-color: white;


	@media (min-width: 768px) {
		width: 300px;
		margin: 3rem auto 0;
		}

	input {
		display: block;

		}

	}


.icon {
	font-size: 6rem;
	margin: 0;
	padding: 0;
	}


@keyframes anim {
	0% {
		opacity: 0;
		}
	100% {
		opacity: 1;
		}
	}
