.formContainer {
	fieldset { // reset
		position: relative;
		margin: 0;
		padding: 0;
		border: none;
	}

	legend {  // reset
		position: absolute;
		visibility: hidden;
		//display: none;
		margin: 0;
		padding: 0;
		//top: 0;
		//left: 0;
	}
}

.inputWrapper {
	position: relative;
	display: flex;
	overflow: visible;
	flex-direction: column;
	margin-bottom: 1rem;
	text-align: left;

	label {
		font-weight: bold;
		margin-left: 0.25rem;
	}

	input {
		font-size: 1.2rem;
		overflow: visible;
		padding: 5px;
		transition: all 450ms ease-in-out;
	}

	&:has(:focus, :active) {
		input {
			scale: 102%;
		}
	}

	&:is([data-validation="error"]) {
		margin-bottom: calc(1rem + 16px);

		&:before {
			font-size: 12px;
			position: absolute;
			z-index: 2;
			bottom: -20px;
			left: 4px;
			content: attr(data-message);
			transition: color 350ms ease-in-out;
			animation: anim 450ms 0ms ease-in-out both;
			color: #fd1007;
		}

		input {
			border: 1px solid #fd1007;
			border-radius: 2px;
		}

		&:has(:focus, :active) {
			input {
				outline: 2px solid #fd1007;
			}
		}
	}

	&:is([data-validation="success"]) {
		input {
			border: 1px solid #0ade0a;
			border-radius: 2px;
		}

		&:has(:focus, :active) {
			input {
				outline: 1px solid #0ade0a;
			}
		}
	}
}

.checkBoxWrapper {
	display: flex;
	column-gap: 0.25rem;
}

.submitButton {
	// Send Button
	font-size: 1.1rem;
	font-weight: bold;
	display: block;
	width: 100%;
	margin-top: 1rem;
	padding: 8px;
	transition: background-color 60ms ease-in-out;
	color: #fff;
	border-color: #00bc77;
	background-color: #00bc77;

	&:active {
		transition: background-color 1ms 0ms linear;
		background-color: gray;
	}

	a:visited,
	a {
		text-decoration: none;
		color: inherit;
	}

	&:disabled {
		border: none;
		background-color: #ccc;
	}
}

@keyframes anim {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
