.formContainer {
	fieldset { // reset
		position: relative;
		margin: 0;
		padding: 0;
		border: none;
	}

	legend {  // reset
		position: absolute;
		visibility: hidden;
		//display: none;
		margin: 0;
		padding: 0;
		//top: 0;
		//left: 0;
	}
}


.submitButton {
	// Send Button
	font-size: 1.1rem;
	font-weight: bold;
	display: block;
	width: 100%;
	margin-top: 1rem;
	padding: 8px;
	transition: background-color 60ms ease-in-out;
	color: #fff;
	border-color: #00bc77;
	background-color: #00bc77;

	&:active {
		transition: background-color 1ms 0ms linear;
		background-color: gray;
	}

	a:visited,
	a {
		text-decoration: none;
		color: inherit;
	}

	&:disabled {
		border: none;
		background-color: #ccc;
	}
}

@keyframes anim {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
