.inputWrapper {
  position: relative;
  display: flex;
  overflow: visible;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}
.inputWrapper label {
  font-weight: bold;
  margin-left: 0.25rem;
}
.inputWrapper input {
  font-size: 1rem;
  overflow: visible;
  padding: 5px;
  transition: all 450ms ease-in-out;
}
.inputWrapper input::placeholder {
  font-size: 0.9em;
}
.inputWrapper:has(:focus, :active) input {
  scale: 102%;
}
.inputWrapper:is([data-validation=error]) {
  margin-bottom: calc(1rem + 16px);
}
.inputWrapper:is([data-validation=error]):before {
  font-size: 12px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: 4px;
  content: attr(data-message);
  transition: color 350ms ease-in-out;
  animation: anim 450ms 0ms ease-in-out both;
  color: #fd1007;
}
.inputWrapper:is([data-validation=error]) input {
  border: 1px solid #fd1007;
  border-radius: 2px;
}
.inputWrapper:is([data-validation=error]):has(:focus, :active) input {
  outline: 2px solid #fd1007;
}
.inputWrapper:is([data-validation=success]) input {
  border: 1px solid #0ade0a;
  border-radius: 2px;
}
.inputWrapper:is([data-validation=success]):has(:focus, :active) input {
  outline: 1px solid #0ade0a;
}

.checkBoxWrapper {
  display: flex;
  column-gap: 0.25rem;
}

main:has([aria-label="profile page wrapper"]) {
  overflow: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
.header {
  margin-bottom: 2rem;
  color: #fff;
}

.heading {
  font-size: 2em;
  font-weight: bold;
}

.formWrapper {
  width: 100%;
  margin-inline: auto;
}
.formWrapper fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.formWrapper legend {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.formContainer {
  display: grid;
  place-content: center;
  gap: 12px;
}

.button {
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border-color: #00bc77;
  background-color: #00bc77;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 32px;
}
@media screen and (min-width: 720px) {
  .inputWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}
.inputWrapper input {
  font-size: 2em;
  font-weight: bold;
  font-size: 1.6em;
  font-weight: 500;
  padding-left: 12px;
  padding-block: 8px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;
  gap: 28px;
}
.buttonWrapper button {
  font-size: 2em;
  font-weight: bold;
  font-size: 1.6em;
  min-width: 120px;
}
@media screen and (min-width: 720px) {
  .buttonWrapper button {
    min-width: 200px;
  }
}
.buttonWrapper__EditBtn {
  composes: buttonWrapper;
}
.buttonWrapper__EditBtn button {
  filter: grayscale(100%);
}

.transactionWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  text-align: left;
  border: 1px solid black;
  background-color: #fff;
}
.transactionWrapper [data-selector=content] {
  flex: 1;
  width: 100%;
}
.transactionWrapper [data-selector=content] h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.transactionWrapper [data-selector=content] p:first-of-type {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}
.transactionWrapper [data-selector=content] p:last-of-type {
  margin: 0;
}
.transactionWrapper [data-selector=cta] button {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 8px;
  color: #fff;
  border-color: #00bc77;
  background-color: #00bc77;
}
@media (min-width: 720px) {
  .transactionWrapper {
    flex-direction: row;
  }
  .transactionWrapper [data-selector=cta] {
    flex: 0;
    width: 100%;
  }
  .transactionWrapper [data-selector=cta] button {
    width: 200px;
  }
}

/*# sourceMappingURL=profile.module.css.map */
