// ** TransactionPage Component
[aria-label="Transaction Page"] {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	background: #e1e1e6;
	gap: 80px;
}

// ** TransactionPage Component
.header {
	display: flex;
	flex: {
		direction: column;
	}
	justify-content: center;
	width: 100%;
	color: black;
	border: 1px gray solid;
	background-color: white;
	gap: 8px;
	padding-block: 40px;
	margin-block: 0 12px;

	p {
		font: {
			size: 18px;
			weight: bold;
		}
		margin: 0;
		padding: 0;
	}

	p:nth-of-type(2) {
		font: {
			size: 32px;
			weight: bold;
		}
		margin: 0;
		padding: 0;
	}
}

.table {
	font-size: clamp(12px, 2vw, 18px);
	width: 100%;

	container: table inline-size;

	@media screen and (width >= 650px) {
		width: clamp(650px, 80vw, 720px);
		margin-inline: auto;
	}

	header,
	article[aria-label="transaction"] {
		font-weight: bold;
		position: relative;
		margin: 0;
		padding: 0;

		ul {
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0 0 0 12px;
			list-style: none;

			&:before {
				//visibility: hidden;
				width: clamp(16px, 5vw, 32px);
				margin: 0;
				padding: 0;
				content: "";
			}

			gap: 4px;

			&[role="row"] {
				&:first-of-type {
					&:hover {
						cursor: pointer;
					}
				}

				padding-block: 16px;
			}

			li {
				width: 25%;
			}
		}
	}

	article[aria-label="transaction"] {
		border-bottom: 1px rgba(0, 0, 0, 0.65) solid;

		&:last-of-type {
			border: none;
		}

		aside {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding: 0 0 0 12px;
			text-align: left;
		}
	}

	main {
		border: 1px solid rgba(174, 171, 171, 0.81);
		background-color: white;
	}

	button {
		box-sizing: border-box;

		width: clamp(16px, 5vw, 32px); // Same as before element on ul's
		margin: 0;
		padding: 0;
		border-collapse: collapse;
		border: none;
		background: none;

		&[aria-label="expend"] {
			position: absolute;
			top: 16px;
			left: 16px;

			svg {
				font: {
					size: clamp(12px, 3vw, 28px);
					weight: bolder;
				}
				stroke: {
					width: 36px;
				}
			}
		}

		@media screen and (width >= 596px) {
			top: 16px;
			left: 12px;
		}
	}
}
