// SignIn Page CSS

.container {
	box-sizing: border-box;
	width: 300px;
	margin: 3rem auto 0;
	padding: 2rem;
	background-color: white;
	}


.icon {
	font-size: 5rem;
	}


.inputWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	text-align: left;

	label {
		font-weight: bold;
		margin-left: 0.25rem;
		}

	input {
		font-size: 1.2rem;
		padding: 5px;
		}
	}


.checkBoxWrapper {
	display: flex;
	column-gap: 0.25rem;
	}


.Button { // Send Button
	font-size: 1.1rem;
	font-weight: bold;
	display: block;
	width: 100%;
	margin-top: 1rem;
	padding: 8px;
	color: #fff;
	border-color: #00bc77;
	background-color: #00bc77;

	a:visited, a {
		text-decoration: none;
		color: inherit;
		}
	}
