
.modal {
	$timing: 450ms;
	min-width: 350px;
	//height: 500px;
	padding: 12px 24px 36px;
	animation: modalFade $timing 0ms ease-in-out both;
	//box-shadow: 0 10px 25px rgb(0 0 0 /0.4);
	border: 1px solid rgba(144, 144, 144, 0.7);

	&::backdrop {
		animation: backdropAnim 650ms 0ms ease-in-out both;
		}

	header {
		display: flex;
		justify-content: end;
		width: 100%;

		button {
			width: 33px;
			height: 33px;
			border: none;
			border-radius: 2px;

			i {
				font-size: 20px;
				color: #868383;
				}
			}
		}

	&:is([data-closing="true"]) {
		& {
			animation: modalFadeOut 450ms 0ms ease-in-out both;
			}

		&::backdrop {
			animation: fadeOut 650ms 150ms ease-in-out both;
			}
		}
	}

@keyframes modalFade {
	0% {
		opacity: 0;
		scale: 130%;
		}
	65% {
		scale: 0.9;
		box-shadow: 0 0px 0px rgb(0 0 0 /0.4);
		}
	100% {
		opacity: 100%;
		scale: 1;
		box-shadow: 0 10px 45px 10px rgb(0 0 0 /0.4);
		}
	}

@keyframes modalFadeOut {
	0% {
		opacity: 100%;
		scale: 1;

		box-shadow: 0 0px 0px rgb(0 0 0 /0.4);
		}
	65% {
		scale: 0.9;
		box-shadow: 0 10px 45px 10px rgb(0 0 0 /0.4);
		}
	100% {
		opacity: 0;
		scale: 130%;
		}
	}

@keyframes backdropAnim {
	0% {
		backdrop-filter: blur(0%);
		background: rgb(255 255 255 /0);
		}

	100% {
		backdrop-filter: blur(7%);
		background: rgb(255 255 255 /0.7);
		}
	}

@keyframes fadeOut {
	0% {
		backdrop-filter: blur(7%);
		background: rgb(255 255 255 /0.7);
		}
	100% {
		backdrop-filter: blur(0%);
		background: rgb(255 255 255 /0);
		}
	}
