// User Profile Styles
main:has([aria-label="profile page wrapper"]) {
	overflow: hidden;
	animation: fadeIn 650ms 100ms ease-in-out both;

	.transactionWrapper:nth-of-type(1) {
		animation: fadeIn 650ms 250ms ease-in-out both;
	}

	.transactionWrapper:nth-of-type(2) {
		animation: fadeIn 650ms 450ms ease-in-out both;
	}

	.transactionWrapper:nth-of-type(3) {
		animation: fadeIn 650ms 650ms ease-in-out both;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;

		transform: translateX(100%);
	}
	50% {
		filter: blur(3px);
	}
	100% {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
}

.header {
	margin-bottom: 2rem;
	color: #fff;
}

.button {
	font-weight: bold;
	padding: 10px;
	color: #fff;
	border-color: #00bc77;
	background-color: #00bc77;
}

.transactionWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto 2rem;
	padding: 1.5rem;
	text-align: left;
	border: 1px solid black;
	background-color: #fff;

	[data-selector="content"] {
		flex: 1;
		width: 100%;

		h3 {
			font-size: 1rem;
			font-weight: normal;
			margin: 0;
			padding: 0;
		}

		p:first-of-type {
			font-size: 2.5rem;
			font-weight: bold;
			margin: 0;
		}

		p:last-of-type {
			margin: 0;
		}
	}

	[data-selector="cta"] {
		button {
			font-size: 1.1rem;
			font-weight: bold;
			display: block;
			width: 100%;
			margin-top: 1rem;
			padding: 8px;
			color: #fff;
			border-color: #00bc77;
			background-color: #00bc77;
		}
	}

	// Responsive

	@media (min-width: 720px) {
		flex-direction: row;

		[data-selector="cta"] {
			flex: 0;
			width: 100%;

			button {
				width: 200px;
			}
		}
	}
}
