// Header

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;

	}


.navLinks {
	font-weight: bold;
	margin-right: 0.5rem;
	text-decoration: none;
	color: #2c3e50;
	display: flex;
	gap: 5px;
	align-items: center;

	&:hover {
		text-decoration: underline;
		color: #42b983;
		}
	}


.logoWrapper {
	display: flex;
	align-items: center;
	img {
		width: 200px;
		max-width: 100%;
		}
	}




